.action {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cfcdcc; }
  .action-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .action-container i {
      font-size: 26px; }
