.chatDialogue {
  height: 100vh;
  width: 100vw; }
  .chatDialogue .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ff6161; }
    .chatDialogue .header i {
      font-size: 22px; }
    .chatDialogue .header .go-back i {
      padding: 0 40px; }
    .chatDialogue .header .person {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .chatDialogue .header .person .img img {
        height: 40px;
        width: 40px;
        border-radius: 50%; }
      .chatDialogue .header .person-status {
        margin-top: 5px; }
      .chatDialogue .header .person .settings i {
        padding: 20px; }
  .chatDialogue form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top: 1px solid #e7e8ec;
    -webkit-box-shadow: 0 -5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 -5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .chatDialogue form .investments {
      padding: 0 15px; }
    .chatDialogue form input[type=text] {
      width: calc(100% - 150px);
      border: none;
      outline: none; }
    .chatDialogue form button {
      padding: 0 15px;
      border: none;
      background: none; }

@media screen and (max-width: 600px) {
  .go-back i {
    padding: 0 15px !important; }
  .settings i {
    padding: 0 15px; } }
