.chats .message-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 10px 0;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e7e8ec; }
  .chats .message-item img {
    height: 40px;
    width: 40px;
    margin: 0 15px;
    border-radius: 50%; }
  .chats .message-item .msg-group .sender {
    margin: 5px 0 5px 0; }
  .chats .message-item .time {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 12px;
    color: #b3b3b3; }
