.matching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .matching .card {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .matching .card .profile {
      height: 80%;
      width: 100%; }
      .matching .card .profile img {
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 30px 30px; }
    .matching .card .similarity {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 20%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .matching .card .similarity .titile {
        margin-bottom: 15px; }
      .matching .card .similarity .group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .matching .card .similarity .group .strip {
          position: relative;
          height: 0.5em;
          width: 85%;
          background: #434157;
          border-radius: 0.5em; }
          .matching .card .similarity .group .strip .fullness {
            position: absolute;
            height: 100%;
            width: 63%;
            border-radius: 0.5em;
            background: -webkit-gradient(linear, left top, right top, color-stop(24.87%, #00C2FF), color-stop(95.12%, rgba(255, 255, 255, 0))), #A600D6;
            background: linear-gradient(90deg, #00C2FF 24.87%, rgba(255, 255, 255, 0) 95.12%), #A600D6; }
