.poll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .poll-box {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .poll-box .title {
      margin: 0 10px;
      padding-top: 30px;
      text-align: center;
      font-size: 26px;
      font-weight: 600; }
    .poll-box .quastions-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      height: 40%;
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .poll-box .quastions-box img {
        height: 60%; }
      .poll-box .quastions-box .quastions {
        margin-top: 20px;
        font-size: 22px; }
    .poll-box .answer {
      width: 80%;
      height: 200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 45px 45px;
      grid-gap: 10px; }
      .poll-box .answer-item {
        padding: 10px 25px;
        border: 1px solid #b3b3b3;
        border-radius: 5px; }

@media screen and (max-width: 600px) {
  .answer {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 45px) !important; } }
