@import './partials/app'
@import './partials/actions'
@import './partials/matching'
@import './partials/poll'
@import './partials/header'
@import './partials/chats'
@import './partials/chatDialogue'
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap&subset=cyrillic-ext');
@import 'node_modules/bootstrap/scss/bootstrap';

body
    font-family: 'Comfortaa', cursive
    font-size: 24px
    background: #1B1A2A
    color: #FDFDFD
*
    padding: 0
    margin: 0

.logo
    display: block;
    font-size: 1em;
    width: 6em;
    margin: 1em auto 0 auto;
    background: linear-gradient(90deg, #00C2FF 24.87%, rgba(255, 255, 255, 0) 95.12%), #A600D6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

.logo img 
    height: 3em;

.profile
    margin: 1em 0 0 0;
    height: 19em;
    position: relative;

.profile-bg
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(27, 26, 42, 0.9));
    border-radius: .8em !important;

.info
    text-align: left;
    padding: 1em;
    width: 100%;
    position: absolute;
    bottom: 0em;

.profile img
    height: 19em;
    border-radius: .8em !important;
    background: #fff;

.profile .name 
    font-size: 1em;

.profile .desc
    font-size: 0.6em;

.progress
    margin: 0.5em 0 0 0; 
    height: 1em;
    border-radius: .8em !important;
    background: #1B1A2A;

.progress-bar
    background: linear-gradient(90deg, #00C2FF 24.87%, rgba(255, 255, 255, 0) 95.12%), #A600D6;
    border-radius: .8em !important;

.buttons
    margin: 0.7em 0 0 0;

.btn-choise:hover
    color: #ff0078;

.btn-choise
    border-radius: .5em !important;
    font-size: 1em;
    width: 100%;
    background: #232233;
    color: #a600d6;

.footer
    position: fixed;
    height: 2.75em;
    padding: 0.5em 0 0 0;
    bottom: 0;
    width: 100%;
    background: #232233;

.footer img
    height: 1.5em;

.stories
    padding: 1em;

.btn-dark
    border-radius: .5em !important;
    background: #1B1A2A;