.action
    position: absolute
    display: flex
    bottom: 0
    left: 0
    height: 60px
    width: 100%
    justify-content: center
    align-items: center
    background-color: #cfcdcc
    
    &-container
        display: flex
        width: 60%
        justify-content: space-around
        i
            font-size: 26px