.view 
    position: relative
    height: 100vh
    width: 100vw

.container-450
    position: relative
    width: 80%
    max-width: 450px
    height: 80%

    
.container-600
    width: 80%
    max-width: 600px
    height: 80%