.chatDialogue
    height: 100vh
    width: 100vw

    .header
        display: flex
        height: 60px
        width: 100vw
        align-items: center
        background-color: #ff6161

        i
            font-size: 22px
        .go-back
            i
                padding: 0 40px

        .person
            display: flex
            width: 80%
            justify-content: space-between
            align-items: center
            .img
                img
                    height: 40px
                    width: 40px
                    border-radius: 50%
            
            &-name

            &-status
                margin-top: 5px
            .settings
                i
                    padding: 20px

    form
        display: flex
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 40px
        align-items: center
        justify-content: space-around
        border-top: 1px solid #e7e8ec
        box-shadow:  0 -5px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

        .investments
            padding: 0 15px

        input[type=text]
            width: calc(100% - 150px) // 150 приблизительная сумма скрепки и сенда
            border: none
            outline: none


        button
            padding: 0 15px
            border: none
            background: none

        

@media screen and (max-width: 600px) 
    .go-back
            i
                padding: 0 15px !important
    // .person
    //     width: 
    .settings
        i
            padding: 0 15px
    