$cardBorderRadius: 10px

.matching
    display: flex
    height: calc(100% - 100px)
    justify-content: center
    align-items: center

    .card
        position: absolute
        height: 100%
        width: 100%
        border-radius: $cardBorderRadius
        box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

        .profile
            height: 80%
            width: 100%

            img
                height: 100%
                width: 100%
                border-radius: 10px 10px 30px 30px

        .similarity
            display: flex
            height: 20%
            width: 100%
            flex-direction: column
            justify-content: center
            align-items: center

            .titile
                margin-bottom: 15px

            .group
                display: flex
                width: 80%
                justify-content: space-between
                align-items: center

                .strip
                    position: relative
                    height: 0.5em
                    width: 85%
                    background: #434157
                    border-radius: 0.5em
                    
                    .fullness
                        position: absolute
                        height: 100%
                        width: 63%
                        border-radius: 0.5em
                        background: linear-gradient(90deg, #00C2FF 24.87%, rgba(255, 255, 255, 0) 95.12%), #A600D6;
                // .number
                    
                
