.poll
    display: flex
    height: 100vh
    width: 100vw
    justify-content: center
    align-items: center
    &-box
        position: relative
        height: 100%
        width: 100%
        border-radius: 15px
        box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

        .title
            margin: 0 10px
            padding-top: 30px
            text-align: center
            font-size: 26px
            font-weight: 600   

        .quastions-box
            display: flex
            margin: 0 auto
            height: 40%
            width: 90%
            flex-direction: column
            justify-content: center
            align-items: center

            img
                height: 60%

            .quastions
                margin-top: 20px
                font-size: 22px

        .answer
            width: 80%
            height: 200px
            margin: 0 auto
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 45px 45px
            grid-gap: 10px

            &-item
                padding: 10px 25px
                border: 1px solid #b3b3b3
                border-radius: 5px


@media screen and (max-width: 600px)
    .answer
        grid-template-columns: 1fr !important
        grid-template-rows: repeat(4, 45px) !important

